ENVIRONMENT=development

JWT_SECRET=secret
JWT_AUDIENCE=authenticated

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_DB=dev

MONGO_HOST=localhost
MONGO_DATABASE=dev

REDIS_HOST=localhost

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=localhost
