[project]
name = "webapp-clean-archi"
version = "0.1.0"
requires-python = ">=3.14"
dependencies = [
    "alembic>=1.18",
    "cleanstack",
    "fastapi>=0.124",
    "logfire[fastapi,sqlalchemy,redis]>=4.19",
    "psycopg[binary]>=3.3",
    "pwdlib[argon2]>=0.3",
    "pydantic-settings>=2.11",
    "pydantic[email]>=2.12",
    "pyjwt>=2.10",
    "pymongo>=4.15",
    "python-multipart>=0.0",
    "redis>=7.1.0",
    "sqlalchemy>=2.0",
    "typer>=0.20",
    "uvicorn>=0.40",
]

[dependency-groups]
dev = [
    "coverage>=7.13",
    "faker>=40.1",
    "httpx>=0.28",
    "mypy==1.19.1",
    "pre-commit>=4.5",
    "prek>=0.3.0",
    "pytest>=9.0",
    "ruff>=0.14",
    "ty>=0.0",
    "watchfiles>=1.1",
]

[tool.uv.sources]
cleanstack = { git = "https://github.com/julienpillaud/cleanstack", tag = "0.9.0" }

[tool.ruff]
output-format = "concise"
extend-exclude = [
    "app/alembic",
]

[tool.ruff.lint]
select = [
    "E", "W", # pycodestyle
    "F", # Pyflakes
    "UP", # pyupgrade
    "B", # flake8-bugbear
    "SIM", # flake8-simplify
    "I", # isort
    "PL", # Pylint
    "RUF",
]
ignore = [
    "PLR0911", # Too many return statements (7 > 6)
    "PLR0913", # Too many arguments in function definition (6 > 5)
    "PLC0414", # Import alias does not rename original package
]

[tool.ty.terminal]
output-format = "concise"

[tool.mypy]
strict = true
plugins = ['pydantic.mypy']
exclude = [
    "app/alembic",
]

[tool.logfire]
ignore_no_config = true

[tool.pytest.ini_options]
testpaths = ["tests"]
log_cli = true
log_cli_format = "%(asctime)s [%(levelname)8s] %(name)30s - %(message)s"
