[project]
name = "webapp-clean-archi"
version = "0.1.0"
requires-python = ">=3.14"
dependencies = [
    "alembic>=1.18",
    "cleanstack",
    "fastapi>=0.128",
    "faststream[cli,rabbit]>=0.6",
    "logfire[fastapi,pymongo,redis,sqlalchemy]>=4.21",
    "psycopg[binary]>=3.3",
    "pydantic-settings>=2.12",
    "pydantic[email]>=2.12",
    "pyjwt>=2.11",
    "pymongo>=4.16",
    "python-multipart>=0.0",
    "redis>=7.1",
    "sqlalchemy>=2.0",
    "typer>=0.21",
    # Server
    "gunicorn>=25.1",
    "httptools>=0.7",
    "uvicorn-worker>=0.4",
    "uvloop>=0.22",
]

[dependency-groups]
dev = [
    "coverage>=7.13",
    "faker>=40.1",
    "httpx>=0.28",
    "mypy>=1.19",
    "pre-commit>=4.5",
    "prek>=0.3",
    "pytest>=9.0",
    "ruff>=0.15",
    "ty>=0.0",
    # Server
    "uvicorn>=0.41",
    "watchfiles>=1.1",
]

[tool.uv.sources]
cleanstack = { git = "https://github.com/julienpillaud/cleanstack", tag = "0.12.0" }

[tool.ruff]
output-format = "concise"
extend-exclude = [
    "app/alembic",
]

[tool.ruff.lint]
select = [
    "E", "W", # pycodestyle
    "F", # Pyflakes
    "UP", # pyupgrade
    "B", # flake8-bugbear
    "SIM", # flake8-simplify
    "I", # isort
    "PL", # Pylint
    "RUF",
]
ignore = [
    "PLR0911", # Too many return statements (7 > 6)
    "PLR0913", # Too many arguments in function definition (6 > 5)
    "PLC0414", # Import alias does not rename original package
]

[tool.ty.terminal]
output-format = "concise"

[tool.mypy]
strict = true
plugins = ['pydantic.mypy']
exclude = [
    "app/alembic",
]

[tool.logfire]
ignore_no_config = true

[tool.pytest.ini_options]
testpaths = ["tests"]
log_cli = true
log_cli_format = "%(asctime)s [%(levelname)8s] %(name)30s - %(message)s"
