[project]
name = "webapp-clean-archi"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = [
    "alembic>=1.17",
    "cleanstack[fastapi,sql]",
    "fastapi[standard]>=0.120",
    "logfire[fastapi,sqlalchemy]>=4.14",
    "psycopg[binary]>=3.2",
    "pwdlib[argon2]>=0.3",
    "pydantic-settings>=2.11",
    "pydantic[email]>=2.11",
    "pyjwt>=2.10",
    "pymongo>=4.15",
    "python-multipart>=0.0",
    "sqlalchemy>=2.0",
    "typer>=0.20",
]

[dependency-groups]
dev = [
    "coverage>=7.11",
    "httpx>=0.28",
    "mypy==1.18.2",
    "polyfactory>=2.22",
    "pre-commit>=4.3",
    "pytest>=8.4",
    "ruff==0.14.3",
    "watchfiles>=1.1",
]

[tool.uv.sources]
cleanstack = { git = "https://github.com/julienpillaud/cleanstack", tag = "0.5.1" }

[tool.ruff]
output-format = "concise"
extend-exclude = [
    "app/alembic",
]

[tool.ruff.lint]
select = [
    "E", "W",  # pycodestyle
    "F",  # Pyflakes
    "UP",  # pyupgrade
    "B",  # flake8-bugbear
    "SIM",  # flake8-simplify
    "I",  # isort
    "PL",  # Pylint
    "RUF",
]
ignore = [
    "PLR0913",  # Too many arguments in function definition (6 > 5)
    "PLC0414",  # Import alias does not rename original package
    "UP046",  # non-pep695-generic-class
    "UP047",  # non-pep695-generic-function
]

[tool.mypy]
strict = true
plugins = ['pydantic.mypy']
exclude = [
    "app/alembic",
]

[tool.logfire]
ignore_no_config=true

[tool.pytest.ini_options]
testpaths = ["tests"]
log_cli = true
log_cli_format = "%(asctime)s [%(levelname)8s] %(name)30s - %(message)s"
